{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
        <div class="container">
            <div class="border">

                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Items</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date added</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ expense.items }}</td>
                            <td>{{ expense.cost }}$</td>
                            <td>{{ expense.category }}</td>
                            <td>{{ expense.description }}</td>
                            <td>{{ expense.date_added }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}